<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Новость</title>
</head>
<body>
    <h2> Новые объявления за неделю </h2>
    <br>
    <p> Здравствуй, {{ recipient }}. За неделю на нашем портале появились новые объявления:</p>
    {% for post in posts %}
    <p><a href="{{ 'http://127.0.0.1:8000'|add:post.get_absolute_url }}"> {{post.title}} </a> </p>
    <p>  {{ post.contents }} </p>
    <p><i> Опубликовано: {{ post.creation_date|date:'d M Y'}} {{ post.creation_date|time:'G:i:s' }} | Автор: {{ post.author.author }} | Категория: {{ post.type }} | Откликов: {{ post.count_comments }} </i> </p>
    <br>
    {% endfor %}

</body>
</html>